<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /.htaccess
  RewriteRule ^.htaccess/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /.htaccess/index.html [L]
</IfModule>